
.container {
    border: 5px solid green;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;

 }

/*.skinny-container {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
}

.skinny-container:hover > .box:not(:hover) {
    background: green;
}
*/

 /*.container:hover {
    align-items: flex-start; */


.container:hover > .box:not(:hover) {
    translate: -20% 0 0;
}

.container:hover > .box:hover {
    translate: 20% 0 0;
}


.box {
    background-color: yellow ;
    height: 400px;
    width: 400px;
    border: 5px solid black;
}




/*
.container:hover {
    align-items: flex-start;
}
*/