/* General Stuff */

html {
    scroll-behavior: smooth;
    font-family: "Courier New", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}
/* Rules for Index Page */

.container {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.fatbox {
    height: 25%;
    aspect-ratio: 1 / 1;
    pointer-events: auto;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

/* * {
    border: 1px solid black;
} */

.box {
    background-color: yellow;
    height: auto;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border: 5px solid black;
    overflow: hidden;
}



.fatbox:hover {
    transform: translateX(15%) rotate(20deg);
    width: 100%;

}

.container:hover > .fatbox:not(:hover) {
    transform: translateX(-15%) rotate(-5deg);
}

.box p {

    translate: 0 500%;
    text-align: center;
    font-size: 40px;
}

/* Makes text bounce up and into view */

/* This looks cool but it wouldn't work on mobile;
you can't see what you're clicking on */

 .fatbox:hover p {
    
    animation-name: fadeup-bounce;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

}

 @keyframes fadeup-bounce {

    0% {opacity: 0}
    50% {translate: 0 -60%}
    55% {translate: 0 0}
    80% {translate: 0 -10%}
    100% {opacity:1; translate: 0 0}
}



/* Bounces on screen load on mobile */

@media only screen and (max-width: 600px) {
   

    .box {
        height: 100%;
        aspect-ratio: 1 / 1;
    }

    .box p {
        translate: 0 0;
        text-align: center;
        font-size: 40px;
        animation-name: fadeup-bounce;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: backwards;
    }

    /* staggering the bounces */

    .box-1 p {
        animation-delay: 0s;
    }

    .box-2 p {
        animation-delay: 0.33s;
    }

    .box-3 p {
        animation-delay: 0.66s;
    }

    .box-4 p {
        animation-delay: 1s;
    }
}




/* Rules for Intro Page */
/* * {
    border: 1px solid black;
} */


header {
    font-size: 50px;
    padding: 10px 10px 30px 15px;
}

nav {

    display: flex;
    font-size: 20px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;

}

nav a {
    width: 34%;
    padding: 10px;
}

nav p {
    padding: 10px;
}

.textbox {
    display: flex;
    flex-direction: column;
}

.textbox h3 {
    font-size: 40px;
    padding: 20px;
    margin: 50px 0 0 0 ;
}

.textbox p {
    font-size: 20px;
    margin-left: 20px
}
 /* Scrolling text */

.scroll-holder {
    display: flex;
    width: 200px;
    overflow: hidden;
    margin-left: 20px;
}

.scrolling-link {
    animation: textscroll 3s linear infinite;
}

@keyframes textscroll {

    from {transform: translateX(200%)}
    to {transform: translateX(-100%)}
}

/* Blinking text */

@keyframes textblink {
    to  {visibility: hidden; background-color: darkgray}
}

article p::after {
    content:"_";
    animation: textblink 1.5s steps(2, start) infinite;
}

/*Attempting to make a nice clean scroll between sections*/


 .main-box {

     display: flex;
     flex-direction: column;
     position: relative;
     margin: 0;
 }

 .smaller-box {

     display: flex;
     flex-direction: column;
     position: relative;
     height: 100%;
     margin: 0;
 }

.wrapper {
    position: relative;
    height: 100vh;

}



.about-me {
    background-color: red;
}

.stuff-1 {
    background-color: yellow;
}

.stuff-2 {
    background-color: green;
}

@media only screen and (min-width: 768px) {
    .textbox p {
        color: blue;
    }

    .smaller-box {
        flex-direction: row;
    }

    .textbox {
        width: 33%;
    }

    nav {
        display: none;
    }
}
